#eclipse
*.classpath
*.settings
*.project

#java stuff
*.class
*.jar

#build
*/target
*/cache
*/bin
*/reports

#test
*/test-bin

#merlin-gui
merlin-gui/temp
merlin-gui/ws
merlin-gui/plugins_bin
merlin-gui/cache.ccf
merlin-gui/merlin
merlin-gui/merlin/*
merlin-gui/h2Database
merlin-gui/conf/database_settings.conf
merlin-gui/conf/email.conf
merlin-gui/h2*.db
merlin-gui/java_pid*.*
merlin-gui/*.log
merlin-gui/*.old
merlin-gui/*.bak
merlin-gui/Workbench_databases/
merlin-gui/gff_error_report.txt