<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">dev$2018merlin</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.85.192:2401/aaaHibernateTest</property>
        <property name="hibernate.connection.username">merlindev</property>
        <property name="hibernate.default_schema">aaaHibernateTest</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hibernate.jdbc.batch_size">1000</property>
        
        		<!-- connection pool configuration -->
		<property name="hibernate.c3p0.idle_test_period">10</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">1</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">10</property>
		
		<!-- connection auto-reconnect configuration -->
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
          <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelSubunit"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationHomologyData"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproEntry"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelFunctionalParameter"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationGeneHomologyHasHomologues"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationEcNumberRankHasOrganism"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelPromoter"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationHomologues"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationEcNumberList"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproResults"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelCompartment"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproLocation"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelExperimentInhibitor"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelExperimentDescription"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelDictionary"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationEcNumberRank"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelExperimentTurnoverNumber"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationProductRank"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelGeneHasCompartment"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelEntityisfrom"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelModule"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationProductList"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.CompartmentsAnnotationReports"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelGene"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelStoichiometry"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.Projects"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelEnzymaticCofactor"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelDblinks"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproResult"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelPathway"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationHomologySetup"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationFastaSequence"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelRegulatoryEvent"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelSequence"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationEcNumber"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproModel"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelExperimentalFactor"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.InterproXRef"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelFeature"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelOrthology"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelCompound"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelEnzymaticAlternativeCofactor"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationScorerConfig"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelProteinComposition"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.CompartmentsAnnotationReportsHasCompartments"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelReaction"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationGeneHomology"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelExperimentSubstrateAffinity"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelSubstrateAffinity"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelSequenceFeature"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelStrain"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.CompartmentsAnnotationCompartments"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelGeneHasOrthology"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelMetabolicRegulation"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelAliases"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelProtein"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelProteinComplex"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationProductRankHasOrganism"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelTranscriptionUnit"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.EnzymesAnnotationOrganism"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelReactionLabels"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelEnzyme"/>
        <mapping class="pt.uminho.ceb.biosystems.merlin.entities.ModelRiFunction"/>
            </session-factory>
</hibernate-configuration>
